<div class="container">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>nidCopy</th>
                <th>name</th>
                <th>email</th>
                <th>cellNo</th>
                <th>photo</th>
                <th>address</th>
                <th>familyMember</th>

                <th></th>
            </tr>
        </thead>

        <!-- <tr *ngFor="let ResidentailUser of ResidentailUser |async">
            <td>{{ResidentailUser.nidCopy}}</td>
            <td>{{ResidentailUser.name}}</td>
            <td>{{ResidentailUser.email}}</td>
            <td>{{ResidentailUser.cellNo}}</td>
            <td>{{ResidentailUser.photo}}</td>
            <td>{{ResidentailUser.address}}</td>
            <td>{{ResidentailUser.familyMember}}</td>

            <td><img [src]="ResidentailUser.photo" alt="{{ResidentailUser.name}}" style="width: 50px; height: auto;">
            </td>

            <td> -->